ul.pagination{
	float:right!Important;
	margin-top:20px!Important;
}

/* table siak */
.table-siak.borderless td, .table-siak.borderless th {
    border: none!Important;
}
.table-siak td:first-child {
    width: 30%!Important;
}
.table-siak td:nth-child(2){
	width: 6%!Important;
}
.table-siak{
	margin-bottom: 0px!Important;
}
.form-group{
	margin-bottom:5px!Important;
}

/* table siak ajax */
.table-siak-ajax th:first-child{
	width:7%!Important;
}
.table-siak-ajax th:last-child, .table-siak-ajax td:last-child{
	width:16%!Important;
	text-align: center!Important;
}
.table-scrollable .table-siak-ajax thead th{
	border-top:0px!Important;
}

/* error form messages */
.form-messages{
	color:red!Important;
}
.border-error-messages{
	border: 1px solid red!Important;
}

/* form delete (tombol) di loadtable */
.form_destroy{
	display: inline-block!Important;
}
.help-block{
	margin-bottom: 0px!Important;
}

/* table Role menu */

/* dataTable */
.table_rolemenu .rolemenu_scrollheadinner{
	width: 100%;
	background:#eee;
}
.table_rolemenu .rolemenu_scrollhead{
	height: 42px;
	overflow: hidden; 
	position: relative;
	margin-bottom: -3px;
}
.table_rolemenu .rolemenu_scrollbody{
	overflow: auto;
	height: 300px;
	width: 100%;
}
.rolemenu_scrollbody td{
	font-size:10pt!Important;
}
.table_rolemenu .hidden-top{
	padding-top: 0px; 
	padding-bottom: 0px;
}