/* Add here all your CSS customizations */

.sro-widget li {
    padding: 5px 15px;
    list-style: none;
}

.popupbanner {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(0,0,0,.3);
    top:0;
    left:0;
}

.popupbanner img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 95%;
}

.popupbanner .btn {
    position: absolute;
    left: 45.5%;
    top: 45%;
    margin: 0 auto;
}

@media (max-width:478px) {
    .popupbanner img {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        height: 90%;
        width: 90%;
    }

    .popupbanner .btn {
        position: absolute;
        left: 35%;
        top: 69%;
        margin: 0 auto;
    }
}

h1.title, h2.title, h3.title, h4.title, h5.title{
    color: #e7505a!important;
}

.form-view {
    background-color: transparent!important;
    border: none;
    width: 100%;
    padding: 0px 0px 12px 0px;
}

select.form-view[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: default;
}

/* Add here all your CSS customizations */
input::-webkit-input-placeholder {
    color: #9cabb8 !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #9cabb8 !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #9cabb8 !important;
}

input:-ms-input-placeholder {
    color: #9cabb8 !important;
}

.no-margin {
    margin:0!important;
}
.sro-widget li {
    padding: 5px 15px;
}

.course-meta-icons h6 {
    font-size: 18px;
}

.plain {
    background: #fff!important;
    padding: 0!important;
    margin: 0!important;
}

.flash-modal {
    /*display: block;*/
}
.text-red {
    color: #e13138;
}
/** Shop */

.shop-img-wrap .shop-img-loader {
    position: absolute;
    top: 0;
    bottom: 100px;
    content: ' ';
    width: 100%;
    height: 80%;
    background: url("../images/loading.gif") rgba(255,255,255,.6) no-repeat center 50%;
    background-size: 20%;
}

.canvas-shop {
    z-index: -1;
    position: absolute;
    top: 0;
}
ul.shop-meta {
    top: -70px;
    }
.shop-meta li a,.product-details .option-btn {
    background : #d9534f;
    opacity: 1;
    }
.shop-title-wrap { width: 100%; }
.shop-btns {
    float: right;
    position: absolute;
    text-align: center;
    right: 10px;
    top: -55px;
    }
.shop-sm-col .shop-wrap .product-name {
    font-size: 14px;
    width: 100%;
    }
.invoice-view .inv-amount {
    font-weight: 600;
    font-size: 50px;
    background: #e2e2e2;
    width: 50%;
    margin: 0 auto;
}
.invoice-view .virtual__account {
    font-weight: 600;
}

/**
    Theme Panel
 */
#theme-panel a.panel-button {
    width: 65px;
    left: -65px;
    padding-left: 10px;
    text-align:left;
    }
#theme-panel a.panel-button span.badge {
    font-size: 12px;
    font-weight :normal;
    padding:0px;
    padding-top:4px;
    border-radius: 13px;
    margin-top: -28px;
    margin-left: -12px;
    }
.badge-red {
    background-color: #d9534f;
    }
#theme-panel {
    max-width: 350px;
    }
.panel-btns li a, .color-download {
    border: 1px solid #d9534f;
    color: #111;
    padding: 6px 15px;
    font-size: 13px;
    display: block;
    }
.panel-btns li a:hover, .panel-btns li a:hover,
html.boxed .panel-btns.config-layout li a#layout-config-boxed{
    color: #fff;
    background: #d9534f;
    }
table.side-cart {
    /*min-width: 350px;*/
    }
table.side-cart td {
    text-align: left;
    font-size:12px;
    padding: 0px;
    }
#dataEmiten .modal-body, #mod-iframe-document .modal-body {
    min-height: 450px !important;
}
#mod-iframe-document .modal-body iframe {
    min-height: 500px !important;
}

#mod-iframe-document .bv-form .help-block {
    margin-bottom: 0;
    float: right;
    right: 0;
    position: absolute;
}

/**
    Form
 */
.form-group .form-note {
    color: #f00;
    font-size: 83%;
    text-align: right;
}
.shop-forms .form-control {
    margin-bottom: 10px;
}
.form-control {
    height: 38px;
    margin-bottom: 10px;
}

ul.datatype > li {
    /*font-weight: normal;*/
    font-size: 12px;
    padding-bottom: 25px;
    /*border-bottom: 1px solid #eeeeee;*/
}

ul.datatype > li > a {
    font-size: 13px;
    padding: 10px 0;
    /*border-bottom: 2px solid #eeeeee;*/
}

ul.datatype ul.datatype-child {
    padding-top: 10px;
}

ul.datatype ul.datatype-child > li {
    padding: 5px 0;
    border-bottom: 1px solid #eeeeee;
}

/**
    Button
 */
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 1px;
}
.btn-danger:hover {
    background: #e07572;
    border-color: #e07572;
}
.btn-info:hover {
    background: #4dabf5;
    border-color: #4dabf5;
}

/**
    Panel
 */
.panel {
    border-radius: 0px; -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px;
}

/**
    Table
 */
.table-condensed > thead > tr > th {
    padding: 4px 0 4px 4px;
}

 .stepwizard-step p {
     margin-top: 10px;
 }

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

ul.social-icons.color li.telegram:hover,
ul.social-icons li.telegram {
    background-image: url(../images/default/telegram.jpg);
    background-position: 0 0px;
}
ul.social-icons.color li.telegram,
ul.social-icons li.telegram:hover {
    background-position: 0 -30px;
    background-image: url(../images/default/telegram.jpg);
}

/**
    Media Controller
 */
@media (max-width:767px) {
    .invoice-view .inv-amount {
        font-weight: 600;
        font-size: 30px;
        background: #e2e2e2;
        width: 80%;
        margin: 0 auto;
    }
}


.page-header{
    margin: 0;
}
h3.title{
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 33px;
}
h4.sub-title{
    font-size: 34px;
    line-height: 34px;
    margin: 0 0 14px 0;
    font-weight: 300;
}
.page-header-fixed .page-container {
    margin-top: 20px;
}
.btn-responsive-nav{
    display: none;
    background-color: #2196f3;
}

@media (max-width: 640px){
    .btn-responsive-nav { 
        padding: 6px 18px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .btn-responsive-nav { 
        top: 55px;
    }
}

@media (max-width: 991px){
    .btn-responsive-nav { 
        display: block;
        background-color: #2196f3;
        position: absolute;
        right: 20px;
    }
}